@{
    ViewBag.Title = "Home Page";
}

<section id="content">
    <div class="content-wrap nopadding">
        <div class="section parallax full-screen dark nomargin noborder" style="background-image: url('images/parallax/1.jpg');" data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px -300px;">
            <div class="vertical-middle">
                <div class="container clearfix">
                    <h2>NADYPHAR - CHẶNG ĐƯỜNG HÌNH THÀNH VÀ PHÁT TRIỂN</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-timeline4">
                                <div class="timeline">
                                    <a href="#" class="timeline-content">
                                        <span class="year">2001</span>
                                        <div class="inner-content">
                                            <h3 class="title">Web Designer</h3>
                                            <p class="description">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex odio, rhoncus sit amet tincidunt eu, suscipit a orci. In suscipit quam eget dui auctor.
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="timeline">
                                    <a href="#" class="timeline-content">
                                        <span class="year">1993</span>
                                        <div class="inner-content">
                                            <h3 class="title">Web Developer</h3>
                                            <p class="description">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex odio, rhoncus sit amet tincidunt eu, suscipit a orci. In suscipit quam eget dui auctor.
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="timeline">
                                    <a href="#" class="timeline-content">
                                        <span class="year">1977</span>
                                        <div class="inner-content">
                                            <h3 class="title">Web Designer</h3>
                                            <p class="description">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex odio, rhoncus sit amet tincidunt eu, suscipit a orci. In suscipit quam eget dui auctor.
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="timeline">
                                    <a href="#" class="timeline-content">
                                        <span class="year">1976</span>
                                        <div class="inner-content">
                                            <h3 class="title">Thành lập Xí Nghiệp Dược phẩm 2/9</h3>
                                            <p class="description">
                                                Xí nghiệp Dược Phẩm 2/9 tiền thân của Công Ty Cổ Phần Dược Phẩm 2/9 ngày nay là đơn vị kinh tế cơ sở có tư cách pháp nhân và hạch toán kinh tế độc lập trên cơ sở sát nhập 07 Viện Bào Chế tư nhân
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section parallax full-screen nomargin noborder" style="background-image: url('images/parallax/home/11.jpg');" data-bottom-top="background-position:-300px -200px;" data-top-bottom="background-position:-200px -400px;">
            <div class="vertical-middle">
                <div class="container clearfix">
                    <div class="col_three_fifth nobottommargin">
                        <div class="emphasis-title">
                            <h2>Seriously Parallaxical</h2>
                            <p class="lead topmargin-sm">Create beautiful unlimited full-screen parallax defined backgrounds to spell bound your visitors.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row nopadding align-items-stretch">
            <div class="col-lg-4 dark col-padding ohidden" style="background-color: #1abc9c;">
                <div>
                    <h3 class="uppercase" style="font-weight: 600;">Why choose Us</h3>
                    <p style="line-height: 1.8;">Transform, agency working families thinkers who make change happen communities. Developing nations legal aid public sector our ambitions future aid The Elders economic security Rosa.</p>
                    <a href="#" class="button button-border button-light button-rounded uppercase nomargin">Read More</a>
                    <i class="icon-bulb bgicon"></i>
                </div>
            </div>
            <div class="col-lg-4 dark col-padding ohidden" style="background-color: #34495e;">
                <div>
                    <h3 class="uppercase" style="font-weight: 600;">Our Mission</h3>
                    <p style="line-height: 1.8;">Frontline respond, visionary collaborative cities advancement overcome injustice, UNHCR public-private partnerships cause. Giving, country educate rights-based approach; leverage disrupt solution.</p>
                    <a href="#" class="button button-border button-light button-rounded uppercase nomargin">Read More</a>
                    <i class="icon-cog bgicon"></i>
                </div>
            </div>
            <div class="col-lg-4 dark col-padding ohidden" style="background-color: #e74c3c;">
                <div>
                    <h3 class="uppercase" style="font-weight: 600;">What you get</h3>
                    <p style="line-height: 1.8;">Sustainability involvement fundraising campaign connect carbon rights, collaborative cities convener truth. Synthesize change lives treatment fluctuation participatory monitoring underprivileged equal.</p>
                    <a href="#" class="button button-border button-light button-rounded uppercase nomargin">Read More</a>
                    <i class="icon-thumbs-up bgicon"></i>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="section nomargin noborder" style="background-image: url('images/parallax/3.jpg');">
            <div class="heading-block center nobottomborder nobottommargin">
                <h2>"Everything is designed, but some things are designed well."</h2>
            </div>
        </div>
        <div class="section parallax full-screen dark nomargin noborder" style="background-image: url('images/parallax/home/10.jpg');" data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px -300px;">
            <div class="vertical-middle">
                <div class="container clearfix">
                    <div class="col_three_fifth nobottommargin">
                        <iframe src="http://player.vimeo.com/video/101666580" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    <div class="col_two_fifth col_last nobottommargin">
                        <div class="emphasis-title">
                            <h2>Embedded Videos</h2>
                            <p class="lead topmargin-sm">Show off your Vimeo &amp; Videos in style and with a perfect aspect ratio.</p>
                        </div>
                        <a href="#" class="button button-border button-rounded button-light button-large">Go to Vimeo</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section parallax dark nomargin noborder" style="padding: 150px 0; background-image: url('images/parallax/home/5.jpg');" data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px -300px;">
            <div class="container center clearfix">
                <div class="emphasis-title">
                    <h2>Perfect tool for Customization</h2>
                    <p class="lead topmargin-sm">Create as much unique content as you want with this Template which has powerful &amp; optimized code.</p>
                </div>
                <a href="#" class="button button-border button-rounded button-light button-large">Start Browsing</a>
                <a href="#" class="button button-rounded button-white button-light button-large">Buy Now</a>
            </div>
        </div>
    </div>
</section>
